.home-how {
  position: absolute;

  /* width: 1440px;
  height: 1204px;

  top: 4950px; */
}

.home-heading-pos {
  top: 220px;
  width: 534px;
  margin-top: 150px;
}

.home-head {
  font-family: Mart;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 80px;
  /* or 160% */

  text-align: center;
  letter-spacing: -1.4px;

  color: #ffffff;
}

.home-head-2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  /* or 212% */

  text-align: center;
  letter-spacing: 0.4px;

  color: #ffffff;

  mix-blend-mode: normal;
}

.home-head-2-pos {
  width: 397px;
  margin-bottom: 50px;
}

@media (max-width: 454px) {
  .home-how {
    position: absolute;
    /* width: 320px;
    height: 1204px;

    top: 8050px; */
  }

  .home-head {
    font-family: Mart;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    text-align: center;
    letter-spacing: -1.4px;

    color: #ffffff;
  }

  .home-heading-pos {
    top: 160px;
    width: 240px;
    margin-top: 50px;
  }

  .home-head-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #ffffff;

    mix-blend-mode: normal;
  }

  .home-head-2-pos {
    width: 274px;
  }
}
