/* Burger House Califor */

/*-------------------------------------Props--------------------------------*/

.heading {
  /* position: absolute;
  left: 35.28%;
  right: 35.28%;
  top: 5.67%;
  bottom: 90.77%; */

  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 60px;
  /* or 150% */

  letter-spacing: 0.4px;

  color: #28272b;
  margin: 5px 5px;
}

.elem1 {
  right: 453px;

  top: 220px;
}

.elem2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;

  text-align: center;
  letter-spacing: 0.4px;
  left: 522px;
  top: 390px;
}

.small-text {
  /* Burger Menu */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: #28272b;

  mix-blend-mode: normal;
  opacity: 0.6;
}

/*--------------------------------------------------------------------------------------
 Sample Page */

#video {
  width: 1040px;
  height: 600px;
}

.anim-style {
  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.4px;

  color: #393f42;
}
.sample-pos {
  position: absolute;
  left: 680px;
  top: 145px;
  display: block;
}

.anim-pos {
  position: absolute;
  top: 191px;
  left: 508px;
}

.tabpill-pos {
  position: absolute;
  top: 458px;
  left: 200px;
}
.search-pos {
  position: absolute;
  width: 320px;
  height: 48px;
  left: 310px;
  top: 351px;
}

.industry-drop {
  position: absolute;
  top: 336px;
  left: 19px;
  text-align: left;
  padding: 0%;
  width: 150px;
  display: none;
}
.lang-drop {
  position: absolute;
  left: 730px;
  top: 351px;
  text-align: left;
  padding: 0%;
  width: 400px;
}

.video-pos {
  position: absolute;
  top: 545px;
  left: 202px;
}

.custmod-pos {
  position: absolute;
  top: 1652px;
}

.ad-pos {
  position: absolute;
  top: 2445px;
  width: 1240px;
  height: 290px;
  left: 100px;

  background-image: url(./static/ad.png);
  background-color: #e9f0fa;
  background-repeat: no-repeat;
}

.ad-head {
  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */

  letter-spacing: 0.4px;

  color: #393f42;

  width: 756px;
}

.ad-head-pos {
  position: absolute;
  top: 106px;
  left: 100px;
}

.ad-small-head-pos {
  position: absolute;
  top: 72px;
  left: 100px;
}

.ad-button-pos {
  left: 920px;
  top: 110px;
  position: absolute;
}

.ad-small-button-text-pos {
  position: absolute;
  top: 190px;
  left: 913px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: rgba(57, 63, 66, 0.8);
}

.sample-footer {
  position: absolute;
  top: 2815px;
  width: 1440px;
}

.thumbs-pos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  top: 1228.19px;
  width: 1440px;
  height: 224px;
}

/*--------------Test----------------------*/

@keyframes anim1 {
  from {
    background-color: red;
    margin-top: 50px;
  }
  to {
    background-color: yellow;
    margin-top: 100px;
  }
}

@keyframes anim2 {
  from {
    background-color: yellow;
    margin-top: 100px;
  }
  to {
    background-color: green;
    margin-top: 200px;
  }
}

.anim-test1 {
  animation-name: anim1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.anim-test2 {
  animation-name: anim2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
/*-------------Mobile---------------------*/

@media (max-width: 454px) {
  #video {
    width: 360px;
    height: 450px;
  }

  .sample-pos {
    display: none;
  }
  .anim-style {
    font-family: Mart;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    text-align: center;
    letter-spacing: 0.4px;
  }
  .anim-pos {
    position: absolute;
    top: 150px;
    left: 51px;
  }
  .search-pos {
    position: absolute;

    left: 19px;
    top: 268px;
    padding: 0%;
    margin: 0%;
  }
  .industry-drop {
    position: absolute;
    top: 336px;
    left: 19px;
    text-align: left;
    padding: 0%;
    width: 150px;
    display: block;
  }
  .lang-drop {
    position: absolute;
    top: 336px;
    left: 189px;
    text-align: left;
    padding: 0%;
    width: 150px;
  }

  .video-pos {
    position: absolute;
    top: 424px;
    left: 0px;
  }

  .thumbs-pos {
    position: absolute;
    top: 892px;
    width: 360px;
    text-align: center;
  }

  .custmod-pos {
    position: absolute;
    top: 1126px;
  }

  .ad-pos {
    position: absolute;
    top: 1967px;
    height: 430px;
    width: 320px;
    left: 20px;
  }

  .ad-head {
    font-family: Mart;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    /* or 138% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #393f42;

    width: 276px;
  }
  .ad-head-pos {
    position: absolute;
    top: 106px;
    left: 21px;
  }

  .ad-small-head-pos {
    position: absolute;
    left: 60px;
    top: 60px;
  }

  .ad-button-pos {
    position: absolute;
    top: 290px;
    left: 60px;
  }
  .ad-small-button-text-pos {
    position: absolute;
    left: 47px;
    top: 354px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    letter-spacing: 0.4px;

    color: rgba(57, 63, 66, 0.8);
  }

  .sample-footer {
    position: absolute;
    top: 2457px;
    width: 360px;
  }
}

/*---------------------------------Home---------------------------------------------------------*/

.home-how {
  position: absolute;

  width: 1440px;
  height: 1204px;

  top: 4950px;
}

@media (max-width: 454px) {
  .home-how {
    position: absolute;
    width: 320px;
    height: 1204px;

    top: 8050px;
  }
}

/*-----------------------------How-it-works-----------------------------------------------------*/

.how-title {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
  opacity: 0.6;

  position: absolute;
  top: 160px;
  left: 660px;
}
.how-head {
  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.4px;

  color: #393f42;
}

.how-head-pos {
  position: absolute;
  top: 206px;
  left: 441px;
  height: 120px;
  width: 561px;
}

.how-img {
  position: absolute;
  top: 380px;
  left: 200px;
  background-image: url(./static/works.png);

  width: 1040px;
  height: 650px;
}

.how-ad-pos {
  position: absolute;
  width: 1240px;
  height: 290px;
  left: 100px;
  top: 1100px;
  background-image: url(./static/ad.png);
  background-color: #e9f0fa;
  background-repeat: no-repeat;
}

.how-foot {
  position: absolute;
  top: 1470px;
  width: 1440px;
}

@media (max-width: 454px) {
  .how-title {
    display: none;
  }
  .how-head {
    font-family: Mart;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #393f42;
  }

  .how-head-pos {
    position: absolute;
    top: 150px;
    left: 20px;
    height: 68px;
    width: 320px;
  }

  .how-img {
    position: absolute;
    top: 278px;
    left: 20px;
    background-image: url(./static/img.png);
    height: 1095px;
    width: 310px;
  }

  .how-ad-pos {
    position: absolute;
    top: 1414px;
    height: 430px;
    width: 320px;
    left: 20px;

    background-image: url(./static/ad.png);
    background-color: #e9f0fa;
    background-repeat: no-repeat;
  }

  .how-foot {
    position: absolute;
    top: 1904px;
    width: 360px;
  }
}
/*-------------------------------About-Us-----------------------------------------------------*/

.about-title-pos {
  position: absolute;
  top: 145px;
  left: 676px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: #393f42;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.about-head {
  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.4px;

  color: #393f42;
}

.about-head-pos {
  position: absolute;
  top: 191px;
  left: 412px;
  width: 617px;
}

.about-body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  /* or 212% */

  text-align: center;
  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
  opacity: 0.8;

  position: absolute;
  top: 331px;
  left: 253px;
  width: 934px;
  height: 102px;
}

.about-img-pos {
  position: absolute;
  top: 493px;
  left: 259px;
  width: 930px;
  height: 620px;
}
.about-cust {
  position: absolute;
  top: 1253px;
}

.about-ad-pos {
  position: absolute;
  top: 2046px;
  width: 1240px;
  height: 290px;
  left: 100px;

  background-image: url(./static/ad.png);
  background-color: #e9f0fa;
  background-repeat: no-repeat;
}

.about-footer-pos {
  position: absolute;
  top: 2416px;
  width: 1440px;
}

@media (max-width: 454px) {
  .about-title-pos {
    display: none;

    position: absolute;
    top: 145px;
    left: 676px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #393f42;

    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .about-head {
    font-family: Mart;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #393f42;
  }

  .about-head-pos {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 320px;
  }

  .about-body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    /* or 243% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #393f42;

    mix-blend-mode: normal;

    top: 272px;
    left: 40px;
    width: 280px;
    height: 306px;
  }

  .about-img-pos {
    position: absolute;
    top: 638px;
    left: 30px;
    width: 301px;
    height: 304px;
  }
  .about-cust {
    position: absolute;
    top: 1004px;
  }

  .about-ad-pos {
    position: absolute;
    top: 1844px;
    height: 430px;
    width: 320px;
    left: 20px;

    background-image: url(./static/ad.png);
    background-color: #e9f0fa;
    background-repeat: no-repeat;
  }
  .about-footer-pos {
    position: absolute;
    top: 2334px;
    width: 370px;
    height: 830px;
  }
}
/*---------------------------------Pricing--------------------------------------------------*/

.price-cust-pos {
  position: absolute;
  top: 1500px;
}

.price-footer-pos {
  position: absolute;
  top: 2305px;
  width: 1440px;
}

@media (max-width: 454px) {
  .price-cust-pos {
    position: absolute;
    top: 2300px;
  }

  .price-footer-pos {
    position: absolute;
    top: 3300px;
    width: 370px;
  }
}

/*---------------------------------------------------------------------------------------------*/

/*-------------------------------Contact----------------------------------------*/

.contact-form-head-1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.contact-form-head-2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
}

.contact-svg-1 {
  position: absolute;
  top: 40px;
  left: 50px;
}

.contact-svg-2 {
  position: absolute;
  top: 40px;
  left: 255px;
}

.cont-call-pos {
  position: absolute;
  top: 43px;
  left: 100px;
}

.cont-num-pos {
  position: absolute;
  top: 61px;
  left: 100px;
}

.cont-mail-pos {
  position: absolute;
  top: 42px;
  left: 305px;
}

.cont-id-pos {
  position: absolute;
  top: 60px;
  left: 305px;
}

.contact-card-title {
  position: absolute;
  top: 141px;
  left: 50px;

  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #393f42;
}

.contact-form-card {
  z-index: 1;
  position: absolute;
  width: 530px;
  height: 604px;
  left: 710px;
  top: 215px;

  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(40, 39, 43, 0.06);
  border-radius: 10px;
}

.contact-img {
  position: absolute;
  width: 450.93px;
  height: 411.33px;
  left: 176.56px;
  top: 417px;
}

.contact-head-title {
  position: absolute;
  top: 215px;
  left: 200px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #aab318;

  mix-blend-mode: normal;
}

.contact-head-text {
  position: absolute;
  top: 249px;
  left: 200px;

  width: 450px;
  height: 114px;

  font-family: Mart;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */

  letter-spacing: 0.4px;

  color: #393f42;
}

.cont-form {
  position: absolute;
  width: 430px;
  top: 197px;
  left: 50px;
}
.cont-form-button {
  position: absolute;
  top: 514px;
  left: 50px;

  width: 430px;
  height: 50px;
}

.cont-div {
  position: absolute;
  width: 1240px;
  height: 744px;
  left: 100px;
  top: 145px;

  background-image: url(./static/bg.png);
  background-color: #f5f5f5;
}

.contact-footer {
  position: absolute;
  top: 969px;
  width: 1440px;
}

@media (max-width: 454px) {
  .contact-form-head-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 0.4px;

    color: #393f42;

    mix-blend-mode: normal;
    opacity: 0.8;
  }

  .contact-form-head-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: 0.4px;

    color: #393f42;

    mix-blend-mode: normal;
  }

  .contact-svg-1 {
    position: absolute;
    top: 40px;
    left: 140px;
  }

  .contact-svg-2 {
    position: absolute;
    top: 156px;
    left: 140px;
  }

  .cont-call-pos {
    position: absolute;
    top: 90px;
    left: 122px;
  }

  .cont-num-pos {
    position: absolute;
    top: 108px;
    left: 87px;
  }

  .cont-mail-pos {
    position: absolute;
    top: 206px;
    left: 126px;
  }

  .cont-id-pos {
    position: absolute;
    top: 224px;
    left: 73px;
  }

  .contact-card-title {
    position: absolute;
    top: 323px;
    left: 80px;
    height: 60px;
    width: 160px;

    font-family: Mart;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #393f42;
  }

  .contact-form-card {
    z-index: 1;
    position: absolute;
    width: 320px;
    height: 843px;
    left: 20px;
    top: 268px;

    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(40, 39, 43, 0.06);
    border-radius: 10px;
  }

  .contact-img {
    position: absolute;
    width: 301px;
    height: 280px;
    left: 30px;
    top: 1171px;
  }

  .contact-head-title {
    display: none;

    position: absolute;
    top: 215px;
    left: 200px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    letter-spacing: 0.4px;

    color: #aab318;

    mix-blend-mode: normal;
  }

  .contact-head-text {
    position: absolute;
    top: 150px;
    left: 34px;

    width: 293px;
    height: 68px;

    font-family: Mart;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    /* or 131% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #393f42;
  }

  .cont-form {
    position: absolute;
    width: 280px;
    top: 423px;
    left: 20px;
  }
  .cont-form-button {
    position: absolute;
    top: 758px;
    left: 20px;

    width: 280px;
    height: 45px;
  }

  .cont-div {
    display: none;
    position: absolute;
    width: 1240px;
    height: 744px;
    left: 100px;
    top: 145px;

    background-image: url(./static/bg.png);
    background-color: #f5f5f5;
  }

  .contact-footer {
    position: absolute;
    top: 1501px;
    width: 360px;
  }
}
/*-------------------------------------------------------------------------------*/

/*-----------------------------Mods------------------------------------------------*/

.testi-box {
  border: 1px solid rgba(57, 63, 66, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 192px;
}

.testi-comment {
  margin-left: 5%;
  width: 90%;
  height: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  /* or 187% */

  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
}

.testi-comment-author {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
}

.testi-mark {
  position: relative;
  top: -15px;
  left: 3%;
}

.testi-author {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
}

.testi-author-designation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #393f42;

  mix-blend-mode: normal;
  opacity: 0.6;
}
@media (max-width: 454px) {
  .testi-box {
    display: none;
  }
}

/*----------------------------------------------------------------------------------*/
#dropdown-basic {
  /* Rectangle 48 */

  width: 400px;
  height: 50px;
  left: 730px;
  top: 341px;

  background: #ffffff;
  border: 1px solid rgba(40, 39, 43, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(40, 39, 43, 0.06);
  border-radius: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  letter-spacing: 0.4px;

  color: rgba(40, 39, 43, 0.8);
}

#sample {
  width: 280px;
  height: 190px;
  margin: 5px 5px;
}

#dropdown-basic:hover,
#dropdown-basic:focus,
#dropdown-basic:active {
  /* Rectangle 48 */

  width: 400px;
  height: 50px;
  left: 730px;
  top: 341px;

  background: #f7f7f7;
  border: 1px solid rgba(40, 39, 43, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(40, 39, 43, 0.06);
  border-radius: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  letter-spacing: 0.4px;

  color: rgba(40, 39, 43, 0.8);
}

.drop-item {
  width: 424px;
}

.drop-item:active {
  background-color: #e0e0e0;
}

.tab {
  /* bgr */

  background-color: #aab318;
  border-radius: 5px;
  padding: 8px 15px;
}

.tab:hover {
  cursor: pointer;
  background: #aab318;
}

.tab:active {
  background-color: #aab318;
}

.active-tab {
  text-decoration: underline;
  color: #aab318;
  padding: 2rem;
}

.small-tab-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #393f42;

  opacity: 0.6;
}

.small-tab-text:hover {
  color: black;
}

/* .cust1, .cust1:hover{
    color:blue;
} */
.cust1:active,
.cust1:focus {
  color: #aab318;

  border-style: none none solid;
  border-width: 1.6px;
  border-color: #aab318;
}

#carousel1 {
  width: 100%;
}

#tabs1 {
  visibility: hidden;
  height: 0%;
  width: 100%;
}

#tabs2 {
  visibility: visible;
  block-size: 100%;
}

#lang-drop {
  text-align: left;
  width: 400px;
  height: 50px;
  left: 300px;
}
#cols-1 {
  display: none;
  width: 0px;
}

@media (max-width: 800px) {
  #carousel1 {
    width: 100%;
  }
  #tabs1 {
    visibility: visible;
    display: block;
    height: 100%;
  }
  #tabs2 {
    /* visibility: hidden; */
    display: none;
    height: 0%;
  }
  #cols-1 {
    display: block;
  }
}

@media (max-width: 454px) {
  #dropdown-basic,
  #dropdown-basic:hover,
  #dropdown-basic:focus,
  #dropdown-basic:active {
    width: 150px;
  }
}

#res-head {
  font-size: 50px;
  line-height: 80px;
  margin-top: 150px;
}

#testimonial {
  width: 640px;
}
#testi-1 {
  text-align: left;
}

@media (max-width: 454px) {
  .heading {
    font-family: Mart;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    text-align: center;
    letter-spacing: -1.4px;
  }

  #white {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    text-align: center;
    letter-spacing: 0.4px;
  }

  #res-center {
    text-align: center;
  }
  #res-head {
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
  }
  #testimonial {
    width: 330px;
  }
  #testi-1 {
    text-align: center;
    margin-right: 0px;
  }
  #video {
    width: 100%;
  }
  #margin-res {
    width: 0px;
  }
  #search {
    margin-left: 0px;
    width: 300px;
  }
  #lang-drop {
    text-align: center;
    margin-top: 30px;
    width: 150px;
    left: 0px;
  }
  #sample {
    width: 200px;
    height: 135px;
    margin: 5px 5px;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(255, 255, 255);
  background-color: #aab318;
}

.jumbotron {
  background-image: url(./static/ad.png);
  background-color: #e9f0fa;
  background-repeat: no-repeat;
}

.small-orange-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #aab318;

  mix-blend-mode: normal;
}

#bgimg {
  background: linear-gradient(
      180deg,
      rgba(248, 248, 248, 0) -0.31%,
      #ffffff 73.02%
    ),
    url(./static/back.png);

  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
}

#white {
  color: white;
}

#contact {
  background-image: url(./static/bg.png);
  background-color: #f0f5ff;
}

#footer-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #28272b;

  mix-blend-mode: normal;
}
